@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Spartan:wght@600;800&family=Roboto:wght@400;500&family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/*Header*/
.header {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-left: 310px;
}

.current {
  color: #2db357;
  padding-left: 10px;
  padding-right: 10px;
}

.header p {
  font-size: 25px;
}

.l-header {
  display: flex;
  justify-content: end;
  padding-left: 150px;
}
.l-header img {
  width: 80px;
}

.l-header p {
  color: #0db04b;
  font-weight: bold;
}

/*Address Details*/
.container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  padding-bottom: 30px;
}

.l-section {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(250, 143, 66, 0.17);
  width: 50%;
  padding: 30px;
}

.l-section p,
.title {
  letter-spacing: 2px;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
}

.l-section input {
  padding: 18px 20px;
  padding-left: 30px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  outline-style: none;
  font-size: 20px;
}

/*Payment Details*/
.r-section {
  font-family: "Montserrat", sans-serif;
  width: 50%;
  padding-top: 80px;
  margin-left: 80px;
}

.t-section {
  width: 70%;
  background-color: rgba(250, 143, 66, 0.17);
  border-radius: 10px;
  margin: auto;
  padding: 20px 50px;
  text-align: left;
  font-size: 20px;
}

.t-section p {
  padding-bottom: 10px;
}

.total-price {
  font-weight: 600;
}

.b-section {
  margin: auto;
}

/*Pay Button*/
.r-section button {
  width: 300px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 40px auto;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #2db357;
  color: white;
  font-weight: bold;
  /* transform: translate(50px); */
}

.r-section button:active {
  color: #505050;
}
