@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Spartan:wght@600;800&family=Roboto:wght@400;500&family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* My profile */
.container {
  background: rgba(250, 143, 66, 0.17);
  width: 80%;
  margin: auto;
  margin-top: 60px;
  padding: 30px 75px;
  font-family: "Poppins", sans-serif;
}
.heading {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 10px;
}
.section {
  display: flex;
  align-items: center;
}
.section p {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 10px;
}
.l-section {
  width: 90%;
}

.r-section {
  width: 80%;
}

.profile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

/* Crop Portfolio */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}

.no-crops {
  font-size: 20px;
  text-align: center;
  padding: 50px 0 70px;
}

.item {
  margin: 20px 30px 20px;
}

.item img {
  height: 150px;
  border-radius: 30px;
}

.item h5 {
  font-size: 18px;
}

.item p {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}

/* Button */
.button {
  display: flex;
  margin: auto;
}
.button button {
  background-color: #2db357;
  color: white;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 50px 80px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 200px;
  font-weight: bold;
}

.button button:active {
  color: #808080;
}

sub {
  margin-left: -8px;
}
