@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Spartan:wght@600;800&family=Roboto:wght@400;500&family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background-color: #2db357;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 80px;
  width: 80px;
}

.nav-head {
  font-family: "Spartan", sans-serif;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #544531;
}

.tagline {
  margin-top: 12px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.nav-items {
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items li {
  list-style: none;
  font-size: 1.2vw;
  transition: transform 0.3s ease;
}

.nav-items li:hover {
  text-shadow: 2px 2px #636363;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.nav-items a {
  color: #ebebeb;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 500;
}

.cart {
  color: #d8d8d8;
  font-size: 40px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cart:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/*Top*/
.container-top {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  font-weight: 800;
  font-size: 20px;
}

/* Mid */
.container-mid {
  background: rgba(250, 143, 66, 0.17);
  width: 80%;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

.container-mid p {
  font-size: 18px;
  font-weight: 500;
}

.category-1 {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.category-1 input {
  height: 200px;
  border-radius: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-gap: 10px;
}

#month-list,
#district-list,
#soil-list {
  font-size: 18px;
  background-color: rgba(196, 196, 196, 0.4);
  width: 200px;
  border-radius: 5px;
}

/* Bottom */
.container-bot {
  display: flex;
  margin: auto;
}

.container-bot button {
  margin: 30px auto;
  text-align: center;
  border-radius: 5px;
  padding: 15px 32px;
  background-color: #2db357;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
