<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Items Page</title>
        <link rel="icon" href="{{ url_for('static', filename = 'img/logo.ico') }}" type = "image/x-icon">
    
        <!-- Fontawesome icons -->
        <script src="https://kit.fontawesome.com/25865fe488.js" crossorigin="anonymous"></script>  
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/items.css') }}">
    </head>
<body>

    <!-- Navbar -->
    {% include 'nav.html' %}

    <!-- Categories -->
    <div class="categories">
        <a href="/fruits">
            {% if type == 'fruit' %}
            <div class="category cat-active">Fruits</div>
            {% else %}
            <div class="category">Fruits</div>
            {% endif %}
        </a>
        <a href="/vegetables">
            {% if type == 'vegetable' %}
            <div class="category cat-active">Vegetables</div>
            {% else %}
            <div class="category">Vegetables</div>
            {% endif %}
        </a>
        <a href="/pulses">
            {% if type == 'pulse' %}
            <div class="category cat-active">Pulses</div>
            {% else %}
            <div class="category">Pulses</div>
            {% endif %}
        </a>
    </div>

    <!-- Search bar -->
    <div class="search-bar">
        <i class="fas fa-search"></i>
        <input class="search-box" type="text" name="" id="search-box">
    </div>

    <!-- Item grid -->
    <div class="itemgrid" id="itemgrid">
        {% if items.count() > 0 %}
            {% for item in items %}
            <a href="/product/{{item['_id']}}">
                <div class="itemcard">
                    <img src="{{ url_for('static', filename = 'img/' + item['img'] + '.jpg') }}" alt="" class="item-img">
                    <h3 class="item-name">{{item['name']}}</h3>
                    <p class="price">&#8377;{{item['price']}}/kg</p>
                    <p class="quantity">Quantity Available: <span class="qty">{{item['quantity']}}kg</span></p>
                    <p class="producer">Produced by <span class="farmer-name">{{item['farmer_name']}}</span></p>
                    <img src="{{ url_for('static', filename = 'img/farmer.jpeg') }}" alt="" class="farmer-img">
                </div>
            </a>
            {% endfor %}
        {% else %}
            <div class="not-found">No items found</div>
        {% endif %}
    </div>

    <!-- js -->
    <script src="{{ url_for('static', filename = 'js/items.js') }}"></script>

</body>
</html>